<ons-page ng-controller="formularioCtrl">
    <ons-toolbar>
        <div class="left"> <ons-icon icon="ion-ios-close-empty" size="40px" class="icone_fechar"></ons-icon></div>
        <div class="center titulo_pagina">NOVO USUÁRIO</div>
        <div class='right'><ons-toolbar-button component="button/new-task" class="toolbar-button">Confirmar</ons-toolbar-button></div>
    </ons-toolbar>
    <div class="facebook_box">
        <div class="alinhamento_facebook"><img src="images/facebook-icon.svg" class="icone_facebook"/></div>

        <p class="texto_facebook">Importe seus dados do facebook</p>
    </div>

    <div class="box_foto_perfil">
        <ons-row>
            <ons-col width="25%">
                <img src="images/foto.svg" class="tirar_foto" ng-click="capturePhoto()"/>
            </ons-col>
            <ons-col width="50%">
                <div class="profile_picture" id="profile_picture"></div>
            </ons-col>
            <ons-col width="25%">
                <img src="images/galeria.svg" class="selecionar_foto" ng-click="getPhoto()"/>
            </ons-col>
        </ons-row>
    </div>
    <form name="cadastro_form">
        <ul class="list">
            <li class="list__item">
                <div class="list__item__left">
                    <ons-icon icon="ion-ios-email-outline" size="40px" style="color: #E7E8E8"></ons-icon>
                </div>

                <div class="list__item__center">
                    <div class="list__item__title item_lista">Email</div>
                    <div class="list__item__subtitle"><input type="email" class="text-input" placeholder="Digite seu email" id="username" name="username" ng-model="objetoCadastro.data.username" required></div>
                </div>
            </li>

            <li class="list__item">
                <div class="list__item__left">
                    <ons-icon icon="ion-ios-email-outline" size="40px" style="color: #E7E8E8"></ons-icon>
                </div>

                <div class="list__item__center">
                    <div class="list__item__title item_lista">Confirme seu email</div>
                    <div class="list__item__subtitle">
                        <input type="email" class="text-input" placeholder="Digite seu email" pw-check="username" id="username_confirmation" name="username_confirmation" ng-model="objetoCadastro.data.username_confirmation" required>
                    </div>
                </div>
            </li>

            <li class="list__item" ng-if="cadastro_form.username_confirmation.$error.pwmatch && cadastro_form.username_confirmation.$dirty" style="color: red; font-size:14px">
                *Os emails devem ser iguais
            </li>

            <li class="list__item">
                <div class="list__item__left">
                    <ons-icon icon="ion-ios-locked-outline" size="40px" style="color: #E7E8E8"></ons-icon>
                </div>

                <div class="list__item__center">
                    <div class="list__item__title item_lista">Senha</div>
                    <div class="list__item__subtitle"><input type="password" class="text-input" placeholder="******" id="password" name="password" ng-model="objetoCadastro.data.password" ng-minlength="6" required></div>
                </div>
            </li>

            <li class="list__item" ng-if="cadastro_form.password.$error.minlength && cadastro_form.password.$dirty" style="color: red; font-size:14px">
                *A senha deve conter no mínimo 6 caracteres
            </li>

            <li class="list__item">
                <div class="list__item__left">
                    <ons-icon icon="ion-ios-person-outline" size="40px" style="color: #E7E8E8"></ons-icon>
                </div>

                <div class="list__item__center">
                    <div class="list__item__title item_lista">Nome completo</div>
                    <div class="list__item__subtitle"><input type="text" class="text-input" placeholder="Digite seu nome" id="fullname" name="fullname" ng-model="objetoCadastro.data.fullname" required></div>
                </div>
            </li>

            <li class="list__item">
                <div class="list__item__left">
                    <ons-icon icon="ion-ios-telephone-outline" size="40px" style="color: #E7E8E8"></ons-icon>
                </div>

                <div class="list__item__center">
                    <div class="list__item__title item_lista">Telefone celular</div>
                    <div class="list__item__subtitle"><input type="tel" class="text-input" ui-mask="(99)99999-9999" id="mobile_phone" name="mobile_phone" ng-model="objetoCadastro.data.mobile_phone" required></div>
                </div>
            </li>

            <li class="list__item">
                <div class="list__item__left">
                    <ons-icon icon="ion-ios-home-outline" size="40px" style="color: #E7E8E8"></ons-icon>
                </div>

                <div class="list__item__center">
                    <div class="list__item__title item_lista">Cidade onde mora</div>
                    <div class="list__item__subtitle"><input type="text" class="text-input" g-places-autocomplete ng-model="livesPlace" options="autocompleteOptions" placeholder="Nome da cidade - UF" id="livesplace" name="livesplace" required></div>
                </div>
            </li>

            <ons-list-item tappable>
                <label class="checkbox" style="margin-left: 3px;">
                    <input type="checkbox" class="checkbox__input" id="check-1" ng-model="termos">
                    <div class="checkbox__checkmark"></div>
                    <span style="font-size: 14px;">Aceito o </span><span style="color: #F48120; font-size: 14px;">Termo de uso & Política de privacidade </span>
                </label>
            </ons-list-item>
            <button class="button--large--cta"  style="margin-bottom: 5px"  ng-click="cadastrarUsuario(image64, objetoCadastro, livesPlace)" ng-disabled="cadastro_form.$invalid || image64 == undefined || termos == false">Cadastrar</button>
        </ul>
    </form>
</ons-page>