.profile_picture{
    width: 90px;
    height: 90px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/profile.svg');
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
}

.item_lista{
    color: #686566;
    font-size: 14px;
}

.tirar_foto{
    width: 64px;
    height: 64px;
    margin-top: 40px;
    margin-left: 10px;
    float: left
}

.selecionar_foto{
    width: 64px;
    height: 64px;
    margin-top: 40px;
    margin-right: 10px;
    float: right
}

.facebook_box{
    margin: 10px 0 10px 10px;
    width: 90%;
    height: 40px;
}

.icone_fechar{
    padding-left: 15px;
    color: #686566
}

.titulo_pagina{
    color: #686566;
    font-size: 15px
}

.botao_confirmar{
    color: #f48120;
    font-size: 14px
}

.icone_facebook{
    width: 40px;
    height: 40px
}

.alinhamento_facebook{
    float: left;
    margin-right: 10px
}

.texto_facebook{
    color: #3c5a9a;
    font-size: 14px;
    float: left
}

.box_foto_perfil{
    background-color: #e7e8e8;
    width: 100%;
    height: 150px;
}
